html, body {
  width: 300px;
}

.hidden {
  display: none;
}

#popup-content {
 font-family: Verdana, Geneva, sans-serif;
 font-size: 10pt;
}

 em {
  float: right;
  font-weight: bold;
  font-size: 15pt;
  /* text-align: center;
  margin: auto; */
}

 em a{
  text-decoration: none;
}

.add-review input[type=text]{
  margin: 10px;
  width: 250px;
}

#submit{
  margin: 10px;
  float: right;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.beast:hover {
  background-color: #CFF2F2;
}

.beast {
  background-color: #E5F2F2;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}


div #add-form{
  display: none;
}
